# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Languages
- Tools
- Libraries
- Arithmetic Expressions
- Markdown
- Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists include:
1. Pandas
2. Scikit
3. Numpy
4. Seaborn
5. Matplotlib

| Data Science Tools |
| -------------| 
| Jupyter |
| R-Studio |
| Spyder |
| Apache Spark |
| Flink |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# multiply and add integers
(3*4)+5

17

In [5]:
# Converting 200 minutes into hours
200/60

3.3333333333333335

## Author
Sven Malama